coreEntities/src/main/resources/xsds/Items.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Wed Mar 08 2017 11:02:30 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="Items">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Item" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="name" type="xs:string"></xs:element>
                                             <xs:element name="image" type="xs:string"></xs:element>
                                             <xs:element name="price" type="xs:int"></xs:element>
                                             <xs:element name="comment" type="xs:string"></xs:element>
                                       </xs:sequence>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>