coreEntities/src/main/resources/xsds/trades.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Wed Mar 22 2017 09:43:12 GMT+0530 (India Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="trades">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="trade" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:attribute name="id" type="xs:int"></xs:attribute>
                                       <xs:attribute name="tradeType" type="xs:string"></xs:attribute>
                                       <xs:attribute name="security" type="xs:string"></xs:attribute>
                                       <xs:attribute name="company" type="xs:string"></xs:attribute>
                                       <xs:attribute name="quantity" type="xs:int"></xs:attribute>
                                       <xs:attribute name="amount" type="xs:int"></xs:attribute>
                                       <xs:attribute name="time" type="xs:int"></xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>